img {
  width: 38%;
  height:fit-content
}

h1 {
  color:darkturquoise;
  font-size:x-large;
  font-weight:bolder;
  font-family: Arial;
}
h2 {
  color:aquamarine;
  font-size: larger;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium';
}
h3 {
  color:aqua;
  font-size: large;
}
p {
  color:white;
  font-size: medium;
}
ul {
  
  color:white;
  font-size: medium;
}
.column {
  float: left;
  width: 50%;
  padding:10px 15px;
}
.test-box {
  border: 3px;
  padding: 5px;
  margin: 6px;
}
.books p {
  color:pink;
  font-style: italic;
}
.a {
  color:aliceblue;
}
.work p {
  color:cyan;
}
.course p {
  color:aquamarine;
}
ol {
  color:aqua;
  font-size: large;
}
body {
  background-color:black;
}